.order-table-header-heading.heading-mollie-subscriptions {
    max-width: 350px;
}

.order-item-status-badge.order-item-status-badge-active {
    background-color: $mollie-subscription-active;
    color: $white;
    margin: 10px 0;
}

.order-item-status-badge.order-item-status-badge-canceled {
    background-color: $mollie-subscription-canceled;
    color: $white;
    margin: 10px 0;
}

.order-item-status-badge.order-item-status-badge-paused {
    background-color: $mollie-subscription-paused;
    color: $white;
    margin: 10px 0;
}

.order-item-status-badge.order-item-status-badge-skipped {
    background-color: $mollie-subscription-skipped;
    color: $black;
    margin: 10px 0;
}

.order-item-status-badge.order-item-status-badge-resumed {
    background-color: $mollie-subscription-active;
    color: $white;
    margin: 10px 0;
}

.order-table-header-description {
    padding: 0 !important;
    display: block;
    font-weight: 400;
    margin-bottom: 1.5rem;
    width: 100%;
}
