.account-payment {
    .payment-method-label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .payment-method-description {
        order: -1;
    }
}
