.mollie-ship-order-grid.sw-data-grid.is--compact .sw-data-grid__cell-content {
    padding: 10px 20px;
    height: 42px;
}

.mollie-modal-refund-manager {
    .sw-modal__body {
        padding: 0;
    }
}
