<sw-card :title="$tc('mollie-payments.refund-manager.refunds.title')" position-identifier="mollie-refund-manager-refunds" class="mollie-refund-manager-refunds"
         :hero="false" :large="true">
    <div class="instructions-bar">
        <sw-alert v-if="!isAclCancelAllowed"
                  variant="warning">
            {{ $tc('mollie-payments.refund-manager.acl.warningCancel') }}
        </sw-alert>
        <sw-external-link href="https://docs.mollie.com/payments/refunds#refund-statuses">
            {{ $tc('mollie-payments.refund-manager.refunds.linkMore') }}
        </sw-external-link>
    </div>
    <sw-data-grid :dataSource="refunds"
                  :columns="columns"
                  :showSelection="false"
                  class="cy-refund-list"
                  :isLoading="isLoading">
        <template #column-amount.value="{ item }">
            <sw-container columns="1fr auto" gap="8px" align="center">
                {{ formatCurrency(item.amount.value) }}
                <sw-help-text :text="item.description"></sw-help-text>
            </sw-container>
        </template>
        <template #column-status="{ item }">
            <sw-container columns="1fr auto" gap="8px" class="cy-refund-status" align="center">
                <sw-label :variant="getRefundStatusBadge(item.status)"
                          size="medium"
                          appearance="default"
                          :ghost="false"
                          :caps="true"
                          :dismissable="false">
                    {{ getRefundStatusName(item.status) }}
                </sw-label>
                <sw-help-text :text="getRefundStatusDescription(item.status)"></sw-help-text>
            </sw-container>
        </template>
        <template #column-createdAt="{ item }">
            {{ dateFilter(item.createdAt, { hour: '2-digit', minute: '2-digit' }) }}
        </template>
        <template #column-composition="{ item }">
            <sw-label v-for="(composition, index) in getRefundCompositions(item)"
                      :key="index"
                      variant="neutral"
                      :ghost="false"
                      size="default"
                      appearance="default"
                      :caps="false"
                      :dismissable="false">
                {{ composition }}
            </sw-label>
        </template>
        <template #actions="{ item }">
            <sw-context-menu-item :disabled="(!isAclCancelAllowed || !isRefundCancelable(item))"
                                  variant="danger"
                                  @click="$emit('cancel', item)">
                {{ $tc('mollie-payments.refund-manager.refunds.grid.btnCancelRefund') }}
            </sw-context-menu-item>
        </template>
    </sw-data-grid>
</sw-card>
