{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% block buy_widget_buy_button %}
    {% if(config('MolliePayments.config.enableSubscriptions') and page.product.customFields.mollie_subscription.mollie_subscription_product) %}
        <button class="btn btn-primary btn-block btn-buy"
                title="{{ "mollie-subscriptions.product.addToCartText"|trans|sw_sanitize }}"
                aria-label="{{ "mollie-subscriptions.product.addToCartText"|trans|sw_sanitize }}">
            {{ "mollie-subscriptions.product.addToCartText"|trans|sw_sanitize }}
        </button>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
