/.idea
/vendor

.reports
.DS_Store

src/Resources/app/administration/node_modules

src/Resources/app/storefront/dist/storefront
src/Resources/app/storefront/node_modules
*.js.LICENSE.txt
config-*
/tests/Cypress/Cypress.env.json
/tests/Cypress/cypress/results
/src/Resources/app/administration/.stryker-tmp
/.phpunuhi/
/node_modules/
/src/Resources/public/administration/.vite
composer.lock
package-lock.json