parameters:
    level: 8
    paths:
        - ./src
        - ./src/Service/ApplePayDirect
        - ./src/Service/Logger
    excludes_analyse:
        - ./src/Resources/app/administration/node_modules/*
        - ./src/Resources/app/storefront/node_modules/*
        - ./src/Controller/*
        - ./src/Handler/*
        - ./src/Helper/*
        - ./src/Resources/*
        - ./src/Service/*
        - ./src/Storefront/*
        - ./src/Subscriber/*
        # legacy code that is not working with abstract/interface changes
        - ./src/Compatibility/Storefront/Route/PaymentMethodRoute/Voucher/HideVoucherPaymentMethodRoute63.php
        - ./src/Compatibility/Storefront/Route/PaymentMethodRoute/MollieLimits/MollieLimitsPaymentMethodRoute63.php
        - ./src/Compatibility/Storefront/Route/PaymentMethodRoute/Subscription/SubscriptionPaymentMethodRoute63.php
services:
    - class: MolliePayments\PHPStan\Rules\NoManufacturerRule
      tags:
        - phpstan.rules.rule
