parameters:
    level: 1
    paths:
        - ./src
    excludes_analyse:
        # already in phpstan lvl8
        - ./src/Gateway

services:
    - class: MolliePayments\PHPStan\Rules\NoManufacturerRule
      tags:
        - phpstan.rules.rule
