{
    "extends": "stylelint-config-standard",
    "customSyntax": "postcss-scss",
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "indentation": 4,
        "color-hex-case": "lower",
        "no-missing-end-of-source-newline": true,
        "selector-class-pattern": "",
        "property-no-unknown": [
            true,
            {
                "severity": "warning",
                "ignoreProperties": [
                    "user-focus",
                    "user-input",
                    "user-modify"
                ]
            }
        ],
        "no-descending-specificity": null,
        "max-nesting-depth": [
            3,
            {
                "ignore": [
                    "blockless-at-rules",
                    "pseudo-classes"
                ],
                "severity": "warning"
            }
        ],
        "at-rule-no-unknown": null,
        "scss/at-rule-no-unknown": true,
        "font-family-no-missing-generic-family-keyword": null,
        "max-line-length": [
            200,
            {
                "ignore": [
                    "comments",
                    "non-comments"
                ]
            }
        ],
        "block-no-empty": null,
        "function-no-unknown": [
            true,
            {
                "ignoreFunctions": [
                    "-webkit-named-image"
                ]
            }
        ]
    },
    
}
