parameters:
	ignoreErrors:
		-
			message: "#^Method Kiener\\\\MolliePayments\\\\Exception\\\\MollieOrderCouldNotBeCancelled\\:\\:__construct\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exception/MollieOrderCouldNotBeCancelled.php

		-
			message: "#^Method Kiener\\\\MolliePayments\\\\Exception\\\\MollieOrderCouldNotBeCancelledException\\:\\:__construct\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exception/MollieOrderCouldNotBeCancelledException.php

		-
			message: "#^Method Kiener\\\\MolliePayments\\\\Exception\\\\MollieOrderCouldNotBeFetched\\:\\:__construct\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exception/MollieOrderCouldNotBeFetched.php

		-
			message: "#^Method Kiener\\\\MolliePayments\\\\Exception\\\\MollieOrderPaymentCouldNotBeCreated\\:\\:__construct\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exception/MollieOrderPaymentCouldNotBeCreated.php

		-
			message: "#^Method Kiener\\\\MolliePayments\\\\Exception\\\\OrderCurrencyNotFound\\:\\:__construct\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exception/OrderCurrencyNotFound.php

		-
			message: "#^Method Kiener\\\\MolliePayments\\\\Exception\\\\OrderCustomerNotFound\\:\\:__construct\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exception/OrderCustomerNotFound.php

		-
			message: "#^Method Kiener\\\\MolliePayments\\\\Exception\\\\PaymentCouldNotBeCancelled\\:\\:__construct\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exception/PaymentCouldNotBeCancelled.php

		-
			message: "#^Method Kiener\\\\MolliePayments\\\\Struct\\\\MollieOrderCustomFieldsStruct\\:\\:__construct\\(\\) has parameter \\$orderCustomFields with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Struct/MollieOrderCustomFieldsStruct.php

		-
			message: "#^Method Kiener\\\\MolliePayments\\\\Struct\\\\MollieOrderCustomFieldsStruct\\:\\:getMollieCustomFields\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Struct/MollieOrderCustomFieldsStruct.php

		-
			message: "#^Method Kiener\\\\MolliePayments\\\\Struct\\\\MollieOrderCustomFieldsStruct\\:\\:setCustomFields\\(\\) has parameter \\$customFields with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Struct/MollieOrderCustomFieldsStruct.php

