<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         cacheResult="false"
         colors="true"
         executionOrder="random"
         resolveDependencies="true"
>

    <testsuites>
        <testsuite name="MolliePayments Tests">
            <directory>./tests/PHPUnit</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./src</directory>
        </include>
    </coverage>
    
</phpunit>
