@import "~scss/variables";

.mollie-external-link {
    color: $color-shopware-brand-500;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $color-shopware-brand-600;
    }

    &__icon {
        margin-left: 4px;
    }

    &--small {
        font-size: 11px;

        .mollie-external-link__icon {
            margin-left: 2px;
        }
    }
}
