.modal-content {
    .payment-method-label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mollie-ideal-issuer {
        margin-top: 15px;
        width: 200px;
    }

    .payment-method-description {
        order: -1;
    }
}
