{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block component_product_box_action_buy %}

    {% block component_product_box_action_buy_apple_direct %}
        {% set productPrice = 0 %}

        {% if product.calculatedPrices|length == 1 %}
            {% set productPrice = product.calculatedPrices.first.unitPrice %}
        {% else %}
            {% set productPrice = product.calculatedPrice.unitPrice %}

            {% if listPrice.percentage > 0 %}
                {% set productPrice = listPrice.price %}
            {% endif %}
        {% endif %}

        {% if mollie_applepaydirect_enabled and ('plp' not in mollie_applepaydirect_restrictions) and productPrice > 0 %}
            {% block component_product_box_action_buy_apple_direct_component %}
                <div class="mb-2 d-none only-support-apple-pay js-apple-pay-container">
                    {% include '@MolliePayments/mollie/component/apple-pay-direct-button.twig' %}
                </div>
            {% endblock %}
        {% endif %}
    {% endblock %}

    {{ parent() }}
{% endblock %}
