{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}


{% block component_product_box_action_buy %}

    {{ parent() }}

    {% set productPrice = 0 %}

    {% if product.calculatedPrices|length == 1 %}
        {% set productPrice = product.calculatedPrices.first.unitPrice %}
    {% else %}
        {% set productPrice = product.calculatedPrice.unitPrice %}
        {% if listPrice.percentage > 0 %}
            {% set productPrice = listPrice.price %}
        {% endif %}
    {% endif %}

    {% set applePayVisible = mollie_applepaydirect_enabled and ('plp' not in mollie_applepaydirect_restrictions) and productPrice > 0  %}
    {% set paypalExpressVisible = mollie_paypalexpress_enabled and ('plp' not in mollie_paypalexpress_restrictions) and productPrice > 0 %}
    {% set noticeVisible = applePayVisible or paypalExpressVisible %}

    {% sw_include '@MolliePayments/mollie/component/express-privacy-notice.html.twig' with {visible:noticeVisible} %}

    {% block component_product_box_action_buy_apple_direct %}

        {% if applePayVisible %}
            {% block component_product_box_action_buy_apple_direct_component %}
                <div class="mt-2 d-none only-support-apple-pay js-apple-pay-container mollie-apple-pay-direct-listing">
                    {% include '@MolliePayments/mollie/component/apple-pay-direct-button.twig' %}
                </div>
            {% endblock %}
        {% endif %}
    {% endblock %}

    {% block component_product_box_action_buy_paypal_express %}
        {% if paypalExpressVisible %}
            {% block component_product_box_action_buy_paypal_express_component %}
                    <div class="mt-2 mollie-paypal-express-plp">
                        {% include '@MolliePayments/mollie/component/paypal-express-button.twig' %}
                    </div>
            {% endblock %}
        {% endif %}
    {% endblock %}

{% endblock %}


{% block page_product_detail_product_buy_button %}


    {% if mollie_subscriptions_enabled and product.translated.customFields.mollie_payments_product_subscription_enabled %}
        <div class="d-grid">
            <button class="btn btn-block btn-buy" title="{{ "molliePayments.subscriptions.product.addToCartText"|trans|sw_sanitize }}">
                {{ "molliePayments.subscriptions.product.addToCartText"|trans|sw_sanitize }}
            </button>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}

{% endblock %}
