<sw-container gap="0px" columns="1fr" class="mollie-pluginconfig-payments-format-preview">

    <div class="mollie-pluginconfig-payments-format-text">
        <strong>{{ $tc('mollie-payments.config.payments.format.placeholder') }}</strong>: {ordernumber}, {customernumber}<br/>
        <strong>{{ $tc('mollie-payments.config.payments.format.preview') }}</strong>: "{{ sample1 }}", "{{ sample2 }}", ...
    </div>

</sw-container>
