.mollie-pluginconfig-payments-format-preview {
    background-color: #f8f8f8;
    border: solid 1px #189eff;
    border-radius: 9px;
    padding: 20px;
    margin-bottom: 20px;

    .mollie-pluginconfig-payments-format-text {
        font-size: 14px;
        margin-left: 5px;
    }
}
