{% block sw_search_bar_item_cms_page %}
    {% parent %}

    <router-link v-else-if="type === 'mollie_subscription'"
                 v-bind:to="{ name: 'mollie.payments.subscription', params: { id: item.id } }"
                 ref="routerLink"
                 class="sw-search-bar-item__link">
        {% block sw_search_bar_item_mollie_subscription_label %}
            <span class="sw-search-bar-item__label">
                <sw-highlight-text v-bind:searchTerm="searchTerm"
                                   v-bind:text="item.description">
                </sw-highlight-text>
            </span>
        {% endblock %}
    </router-link>

{% endblock %}
