.mollie-subscriptions {
    .color-active {
        color: #1abc9cff;
    }

    .color-inactive {
        color: red;
    }

    .status-icon {
        margin-right: 8px;
    }
}

.mollie-subscriptions-grid-btn-cancel {
    color: red;
}
