<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>

        </title>
        <component name="mollie-pluginconfig-section-info">
            <name>molliePluginConfigSectionInfo</name>
        </component>
    </card>
    <card>
        <title>API</title>
        <title lang="de-DE">API</title>
        <title lang="nl-NL">API</title>

        <input-field type="password">
            <name>liveApiKey</name>
            <copyable>true</copyable>
            <label>Live Key</label>
            <label lang="de-DE">Live Key</label>
            <label lang="nl-NL">Live-sleutel</label>
        </input-field>
        <input-field type="password">
            <name>testApiKey</name>
            <copyable>true</copyable>
            <label>Test Key</label>
            <label lang="de-DE">Test Key</label>
            <label lang="nl-NL">Test-sleutel</label>
        </input-field>
        <input-field type="bool">
            <name>testMode</name>
            <label>Test Mode</label>
            <label lang="de-DE">Test Modus</label>
            <label lang="nl-NL">Test Modus</label>
            <defaultValue>true</defaultValue>
            <helpText>Enables the test mode with the Mollie Sandbox payment page. The Storefront will also show (Test Mode) next to the payment method names.</helpText>
            <helpText lang="de-DE">Aktiviert den Testmodus mit der Mollie Sandbox Zahlungsseite. In der Storefront wird (Test Modus) neben den Zahlungsarten angezeigt.</helpText>
            <helpText lang="nl-NL">Staat de test modus toe met de Mollie Sandbox betalingspagina. De Storefront zal ook "(Test Mode)" tonen naast de naam van de betaalmethode.</helpText>
        </input-field>
        <input-field type="bool">
            <name>debugMode</name>
            <label>Debug Mode</label>
            <label lang="de-DE">Debug Modus</label>
            <label lang="nl-NL">Debug Modus</label>
            <defaultValue>false</defaultValue>
            <helpText>Mollie has a custom log file in the Shopware log directory. This feature enables the extended logs with more information that could help to solve problems.</helpText>
            <helpText lang="de-DE">Mollie hat eine eigene LOG Datei im Shopware Log Verzeichnis. Dieser Modus kümmert sich um erweiterte Informationen in diesen Log Dateien, die zusätzlich bei der Analyse von Fehlern beitragen können.</helpText>
            <helpText lang="nl-NL">Mollie heeft een op maat logbestand in de Shopware logboek-map. Deze functie maakt uitgebreide logs mogelijk met meer informatie die helpen bij het oplossen van problemen.</helpText>
        </input-field>
        <component name="mollie-pluginconfig-section-api">
            <name>molliePluginConfigSectionApi</name>
        </component>
    </card>
    <card>
        <title>Payments</title>
        <title lang="de-DE">Zahlungen</title>
        <title lang="nl-NL">Betalingen</title>
        <input-field type="bool">
            <name>shopwareFailedPayment</name>
            <label>Use Shopware standard behaviour for failed payments</label>
            <label lang="de-DE">Shopware Standardverhalten für fehlerhafte Zahlungen verwenden</label>
            <label lang="nl-NL">Gebruik de standaard Shopware instelling voor mislukte betalingen</label>
            <defaultValue>true</defaultValue>
            <helpText>Use the default Shopware behaviour on failed payments. If disabled, Mollie will automatically provide a way to retry the payment by redirecting the user to the Mollie payments page.</helpText>
            <helpText lang="de-DE">Aktiviert das Standardverhalten von Shopware für fehlerhafte Zahlungen. Wenn nicht aktiv, kümmert sich das Mollie Plugin um einen erneuten Versuch der Zahlung und leitet den Käufer auf die externe Mollie Zahlungsauswahl.</helpText>
            <helpText lang="nl-NL">Gebruik de standaard Shopware instelling voor mislukte betalingen. Indien uitgeschakeld, zal Mollie automatisch een manier aanbieden om de betaling opnieuw te proberen door de user om te leiden naar de Mollie betalingspagina.</helpText>
        </input-field>
        <input-field type="bool">
            <name>enableCreditCardComponents</name>
            <label>Enable Credit Card Components</label>
            <label lang="de-DE">Kreditkarten Komponenten aktivieren</label>
            <label lang="nl-NL">Credit Card componenten activeren</label>
            <defaultValue>true</defaultValue>
            <helpText>Show credit card input fields directly within your Shopware shop. If disabled, Mollie will show the forms on the Mollie payment page.</helpText>
            <helpText lang="de-DE">Zeigt Kreditkartenfelder direkt im Shopware shop an. Wenn nicht aktiviert, dann zeigt Mollie diese Felder direkt auf der externen Mollie Zahlungsseite.</helpText>
            <helpText lang="nl-NL">Toon credit card invoervelden direct in jouw Shopware shop. Indien uitgeschakeld, zal Mollie de formulieren tonen op de Mollie betaalpagina.</helpText>
        </input-field>
        <input-field type="bool">
            <name>oneClickPaymentsEnabled</name>
            <label>Enable One-Click Payments</label>
            <label lang="de-DE">One-Click-Zahlungen aktivieren</label>
            <label lang="nl-NL">One-Click betalingen activeren</label>
            <defaultValue>false</defaultValue>
            <helpText>Customers can choose to save their credit card data for repeating orders. Sensitive data will only be stored on the Mollie servers and not in Shopware.</helpText>
            <helpText lang="de-DE">Kunden haben die Möglichkeit, ihre Kreditkartendaten für erneute Bestellungen zu speichern. Sensible Daten werden nur auf den Mollie-Servern und nicht in Shopware gespeichert.</helpText>
            <helpText lang="nl-NL">Klanten kunnen ervoor kiezen hun creditcardgegevens op te slaan voor toekomstige bestellingen. Gevoelige gegevens worden alleen opgeslagen op de servers van Mollie en niet in Shopware.</helpText>
        </input-field>
        <input-field type="bool">
            <name>oneClickPaymentsCompactView</name>
            <label>Enable One-Click Payments compact view</label>
            <label lang="de-DE">One-Click-Zahlungen Kompaktansicht aktivieren</label>
            <label lang="nl-NL">Compacte weergave van One-Click Payments</label>
            <defaultValue>false</defaultValue>
            <helpText>If enabled, the stored credit cards will not be displayed as visual cards on the checkout page.</helpText>
            <helpText lang="de-DE">Wenn aktiviert, werden die gespeicherten Kreditkarten nicht als visuelle Karten auf der Checkout-Seite angezeigt.</helpText>
            <helpText lang="nl-NL">Indien ingeschakeld, worden de opgeslagen creditcards niet weergegeven als visuele kaarten op de afrekenpagina.</helpText>
        </input-field>
        <input-field type="bool">
            <name>enableApplePayDirect</name>
            <label>Enable Apple Pay Direct</label>
            <label lang="de-DE">Apple Pay Direct aktivieren</label>
            <label lang="nl-NL">Apple Pay Direct activeren</label>
            <defaultValue>false</defaultValue>
            <helpText>Show Apple Pay buttons and payment options directly on a product detail page or listing. This feature requires the payment method Apple Pay to be assigned to your Sales Channel.</helpText>
            <helpText lang="de-DE">Zeigt Apple Pay Buttons direkt auf der Produktseite oder Kategorie Seite an. Dieses Feature setzt voraus, dass die Zahlungsart 'Apple Pay' dem Verkaufskanal zugewiesen ist.</helpText>
            <helpText lang="nl-NL">Toon Apple Pay-buttons en betaalopties direct op een productdetailpagina of product listing pagina. Deze functie vereist dat de betaalmethode Apple Pay is toegewezen aan jouw verkoopkanaal.</helpText>
        </input-field>
        <input-field type="multi-select">
            <name>applePayDirectRestrictions</name>
            <label>Apple Pay Display Restrictions</label>
            <label lang="de-DE">Apple Pay Anzeige Einschränkungen</label>
            <label lang="nl-NL">Apple Pay weergavebeperkingen</label>
            <helpText>Restrict Apple Pay Direct from being displayed on these pages.</helpText>
            <helpText lang="de-DE">Verhindere die Anzeige von Apple Pay Direct auf den hier gewählten Seiten</helpText>
            <helpText lang="nl-NL">Voorkom dat Apple Pay Direct wordt weergegeven op deze pagina's.</helpText>
            <options>
                <option>
                    <id>plp</id>
                    <name>Category pages</name>
                    <name lang="de-DE">Kategorieseiten</name>
                    <name lang="nl-NL">Categorie pagina's</name>
                </option>
                <option>
                    <id>pdp</id>
                    <name>Product pages</name>
                    <name lang="de-DE">Produktseiten</name>
                    <name lang="nl-NL">Product pagina's</name>
                </option>
                <option>
                    <id>offcanvas</id>
                    <name>Offcanvas cart</name>
                    <name lang="de-DE">Offcanvas Warenkorb</name>
                    <name lang="nl-NL">Offcanvas winkelmand</name>
                </option>
                <option>
                    <id>cart</id>
                    <name>Cart page</name>
                    <name lang="de-DE">Warenkorbseite</name>
                    <name lang="nl-NL">Winkelmand</name>
                </option>
            </options>
        </input-field>
        <input-field type="bool">
            <name>createCustomersAtMollie</name>
            <label>Create customers at Mollie</label>
            <label lang="de-DE">Kunden bei Mollie anlegen</label>
            <label lang="nl-NL">Klanten creëren bij Mollie</label>
            <defaultValue>false</defaultValue>
            <helpText>Automatically have customers being created inside your Mollie Dashboard to see all payments of a specific customer.</helpText>
            <helpText lang="de-DE">Erstellt automatisch Kunden im Mollie Dashboard. Dadurch hat man einen zusätzlichen Überblick über alle Zahlungen dieses Kunden innerhalb von Mollie.</helpText>
            <helpText lang="nl-NL">Automatisch klanten laten aanmaken in het Mollie Dashboard om alle betalingen van een specifieke klant te zien.</helpText>
        </input-field>
        <input-field type="bool">
            <name>useMolliePaymentMethodLimits</name>
            <defaultValue>false</defaultValue>
            <label>Use Mollie Payment Method Limits</label>
            <label lang="de-DE">Mollies Limits für Zahlungsarten verwenden</label>
            <label lang="nl-NL">Mollie's limieten voor betaalmethoden gebruiken</label>
            <helpText>Automatically hides payment methods in the checkout based on the limits of Mollie. For instance, if you can only accept credit card payments up to 500 euros, the checkout for a cart of 600 euros will not display credit card as a payment method.</helpText>
            <helpText lang="de-DE">Blendet automatisch Zahlungsart im Checkout basierend auf den Limits von Mollie aus. Wenn Sie beispielsweise nur Kreditkartenzahlungen bis zu 500 Euro akzeptieren können, wird an der Kasse für einen Warenkorb von 600 Euro keine Kreditkarte als Zahlungsarte angezeigt.</helpText>
            <helpText lang="nl-NL">Verbergt automatisch betaalmethoden in de checkout op basis van Mollie's limieten. Als je bijvoorbeeld alleen creditcardbetalingen tot 500 euro kan accepteren, wordt bij een winkelwagen van 600 euro geen creditcard weergegeven als betaalmethode bij het afrekenen.</helpText>
        </input-field>
        <input-field type="text">
            <name>formatOrderNumber</name>
            <label>Custom format for Mollie order numbers (Dashboard, PayPal, ...)</label>
            <label lang="de-DE">Format für Mollie Bestellnummern (Dashboard, PayPal, ...)</label>
            <label lang="nl-NL">Aangepast formaat voor Mollie bestelnummers (Dashboard, PayPal, ...)</label>
            <helpText>If set, this format will be used before the order number in the Mollie dashboard. This will also be passed on to PayPal as invoice number.</helpText>
            <helpText lang="de-DE">Wenn gesetzt, wird dieses Format vor der Bestellnummer im Mollie-Dashboard verwendet. Dieser Wert wird auch an PayPal als Rechnungsnummber übergeben</helpText>
            <helpText lang="nl-NL">Indien ingesteld, wordt dit formaat vóór het bestelnummer in het Mollie-dashboard gebruikt. Dit wordt ook als factuurnummer doorgegeven aan PayPal.</helpText>
        </input-field>
        <component name="mollie-pluginconfig-section-payments-format">
            <name>molliePluginConfigSectionPaymentsFormat</name>
        </component>
        <component name="mollie-pluginconfig-section-payments">
            <name>molliePluginConfigSectionPayments</name>
        </component>
    </card>
    <card>
        <title>Order Management</title>
        <title lang="de-DE">Auftragsverwaltung</title>
        <title lang="nl-NL">Order beheer</title>
        <input-field type="int">
            <name>paymentMethodBankTransferDueDateDays</name>
            <label>Bank Transfer Due Date (Days)</label>
            <label lang="de-DE">Banküberweisung Fälligkeitsdauer (in Tagen seit Bestelleingang)</label>
            <label lang="nl-NL">Bankoverschrijving vervaldatum (in dagen vanaf ontvangen bestelling)</label>
            <helpText>Assign a custom "due date" for the Bank Transfer payment method. This is the time the customer can pay until the payment expires.</helpText>
            <helpText lang="de-DE">Konfiguration eines eigenen Verfallsdatums für die Zahlungsart 'Bank Transfer'. Dies ist der Zeitraum einer möglichen Zahlung bis die Zahlungsmöglichkeit verfällt.</helpText>
            <helpText lang="nl-NL">Wijs een aangepaste "vervaldatum" toe voor de betaalmethode Bankoverschrijving. Dit is de periode dat de klant kan betalen totdat de betaling vervalt.</helpText>
        </input-field>
        <input-field type="int">
            <name>orderLifetimeDays</name>
            <label>Order Lifetime Days</label>
            <label lang="de-DE">Bestellungs Lebensdauer bei Mollie (in Tagen seit Bestelleingang)</label>
            <label lang="nl-NL">Levensduur bestelling bij Mollie (in dagen vanaf ontvangen bestelling)</label>
            <helpText>Configure the lifetime of an order until it expires when not paid. This applies to all payment methods.</helpText>
            <helpText lang="de-DE">Konfiguration der Lebensdauer bis eine Bestellung verfällt, sofern sie nicht bezahlt wurde. Diese Konfiguration wirkt sich auf alle Zahlungsarten aus.</helpText>
            <helpText lang="nl-NL">Configureer de levensduur van een bestelling totdat deze vervalt als er niet betaald is. Dit geldt voor alle betaalmethoden.</helpText>
        </input-field>
        <input-field type="bool">
            <name>automaticShipping</name>
            <defaultValue>true</defaultValue>
            <label>Automatic Shipping</label>
            <label lang="de-DE">Automatischer Versand</label>
            <label lang="nl-NL">Automatische Verzending</label>
            <helpText>If enabled, the plugin will automatically trigger a shipment at Mollie when the delivery status transitions to 'shipped'.</helpText>
            <helpText lang="de-DE">Sofern aktiv, schickt das Plugin automatisch eine Versand Mitteilung an Mollie, sobald der Lieferstatus auf 'verschickt' übergeleitet wird.</helpText>
            <helpText lang="nl-NL">Indien ingeschakeld, zal de plugin automatisch een verzending activeren bij Mollie wanneer de leveringstatus overgaat naar ‘verzonden’.</helpText>
        </input-field>
        <input-field type="bool">
            <name>automaticCancellation</name>
            <defaultValue>true</defaultValue>
            <label>Automatic Cancellation</label>
            <label lang="de-DE">Automatische Stornierung</label>
            <label lang="nl-NL">Automatische annulering</label>
            <helpText>If enabled, the plugin will automatically cancel Mollie orders when being cancelled in Shopware. Only orders that are created, authorized or partially shipped will be cancelled. If partially shipped, only items that where not shipped will be cancelled.</helpText>
            <helpText lang="de-DE">Wenn aktiviert, storniert das Plugin Mollie-Bestellungen automatisch, wenn sie in Shopware storniert werden. Nur Bestellungen, die erstellt, autorisiert oder teilweise versandt wurden, werden storniert. Bei teilweisem Versand werden nur Artikel storniert, die nicht versendet wurden.</helpText>
            <helpText lang="nl-NL">Indien ingeschakeld, zal de plug-in automatisch Mollie-bestellingen annuleren wanneer ze worden geannuleerd in Shopware. Alleen bestellingen die zijn aangemaakt, geautoriseerd of gedeeltelijk zijn verzonden, worden geannuleerd. Indien gedeeltelijk verzonden, worden alleen artikelen geannuleerd die niet zijn verzonden.</helpText>
        </input-field>
    </card>
    <card>
        <title>Refund Manager</title>
        <title lang="de-DE">Refund Manager</title>
        <title lang="nl-NL">Refund Manager</title>
        <input-field type="bool">
            <name>refundManagerEnabled</name>
            <defaultValue>true</defaultValue>
            <label>Enable Refund Manager</label>
            <label lang="de-DE">Refund Manager aktivieren</label>
            <label lang="nl-NL">Refund Manager inschakelen</label>
            <helpText>Enable or disable the Refund Manager in the Administration</helpText>
            <helpText lang="de-DE">Aktivieren oder deaktivieren Sie den Refund Manager in der Administration</helpText>
            <helpText lang="nl-NL">Schakel de Refund Manager in of uit in de administratie</helpText>
        </input-field>
        <input-field type="bool">
            <name>refundManagerAutoStockReset</name>
            <defaultValue>true</defaultValue>
            <label>Automatically include Stock-Reset</label>
            <label lang="de-DE">Automatisch Lagerbestand zurücksetzen vorbefüllen</label>
            <label lang="nl-NL">Automatisch voorraad-reset instellen</label>
            <helpText>Automatically set the entered refund quantity also as the quantity to be used to increase the stock again.</helpText>
            <helpText lang="de-DE">Sofern aktiv, wird die eingegebene Rückerstattungsmenge automatisch als Menge für den Lagerbestand verwendet und dieses Feld vorbefüllt.</helpText>
            <helpText lang="nl-NL">Stel de ingevoerde restitutiehoeveelheid automatisch ook in als de hoeveelheid die moet worden gebruikt om de voorraad weer te vergroten</helpText>
        </input-field>
        <input-field type="bool">
            <name>refundManagerVerifyRefund</name>
            <defaultValue>true</defaultValue>
            <label>Verify Refunds</label>
            <label lang="de-DE">Rückerstattungen überprüfen</label>
            <label lang="nl-NL">Terugbetalingen controleren</label>
            <helpText>If enabled, a verification checkbox needs to be checked to proceed with the refund. We recommend this to avoid accidental refunds and stock changes.</helpText>
            <helpText lang="de-DE">Wenn aktiv, muss ein Überprüfungskästchen aktiviert werden, um mit der Rückerstattung fortzufahren. Wir empfehlen dies, um versehentliche Rückerstattungen und Bestandsänderungen zu vermeiden.</helpText>
            <helpText lang="nl-NL">Indien actief, moet een selectievakje worden geactiveerd om verder te gaan met de terugbetaling. Wij raden dit aan om onbedoelde terugbetalingen en voorraadwijzigingen te voorkomen.</helpText>
        </input-field>
        <input-field type="bool">
            <name>refundManagerShowInstructions</name>
            <defaultValue>true</defaultValue>
            <label>Show Instructions</label>
            <label lang="de-DE">Anleitungen anzeigen</label>
            <label lang="nl-NL">Handleiding tonen</label>
            <helpText>Shows or hides the instructions area. You can simply turn this off in case it's disturbing once you're familiar with the Refund Manager.</helpText>
            <helpText lang="de-DE">Diese Funktion kann benutzt werden, um die Anleitungen auszublenden, sofern man einmal mit dem Refund Manager vetraut ist.</helpText>
            <helpText lang="nl-NL">Toont of verbergt de handleiding. Als het storend is, kan je het direkt deactiveren als je eenmaal vertrouwd bent met de Refund Manager.</helpText>
        </input-field>
    </card>
    <card>
        <title>Order State Automation</title>
        <title lang="de-DE">Automatisch Order Status setzen</title>
        <title lang="nl-NL">Automatisch bestelstatus instellen</title>

        <input-field type="single-select">
            <name>orderStateWithAPaidTransaction</name>
            <label>Order state with a paid transaction</label>
            <label lang="de-DE">Bestellstatus bei einer bezahlten Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een betaalde transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Completed</name>
                    <name lang="de-DE">Komplett</name>
                    <name lang="nl-NL">Voltooid</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>orderStateWithAFailedTransaction</name>
            <label>Order state with a failed transaction</label>
            <label lang="de-DE">Bestellstatus bei einer fehlgeschlagenen Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een mislukte transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Completed</name>
                    <name lang="de-DE">Komplett</name>
                    <name lang="nl-NL">Voltooid</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>orderStateWithACancelledTransaction</name>
            <label>Order state with a cancelled transaction</label>
            <label lang="de-DE">Bestellstatus bei einer abgebrochenen Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een geannuleerde transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Completed</name>
                    <name lang="de-DE">Komplett</name>
                    <name lang="nl-NL">Voltooid</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>orderStateWithAAuthorizedTransaction</name>
            <label>Order state with a authorized transaction</label>
            <label lang="de-DE">Bestellstatus bei einer authorisierten Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een geautoriseerde transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Completed</name>
                    <name lang="de-DE">Komplett</name>
                    <name lang="nl-NL">Voltooid</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>orderStateWithAChargebackTransaction</name>
            <label>Order state with a charged back transaction</label>
            <label lang="de-DE">Bestellstatus bei einer zurückgebuchten Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een teruggevorderde transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Completed</name>
                    <name lang="de-DE">Komplett</name>
                    <name lang="nl-NL">Voltooid</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>orderStateWithRefundTransaction</name>
            <label>Order state with a refund transaction</label>
            <label lang="de-DE">Bestellstatus bei einer zurückerstatteten Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een terugbetaalde transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Completed</name>
                    <name lang="de-DE">Komplett</name>
                    <name lang="nl-NL">Voltooid</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>orderStateWithPartialRefundTransaction</name>
            <label>Order state with a partial refund transaction</label>
            <label lang="de-DE">Bestellstatus bei einer teilweise erstatteten Transaktion</label>
            <label lang="nl-NL">Bestelstatus bij een gedeeltelijk terugbetaalde transactie</label>
            <options>
                <option>
                    <id>skip</id>
                    <name>Skip this status</name>
                    <name lang="de-DE">nichts machen</name>
                    <name lang="nl-NL">Sla deze status over</name>
                </option>
                <option>
                    <id>open</id>
                    <name>Open</name>
                    <name lang="de-DE">Offen</name>
                    <name lang="nl-NL">Open</name>
                </option>
                <option>
                    <id>in_progress</id>
                    <name>In progress</name>
                    <name lang="de-DE">In Bearbeitung</name>
                    <name lang="nl-NL">In uitvoering</name>
                </option>
                <option>
                    <id>completed</id>
                    <name>Completed</name>
                    <name lang="de-DE">Komplett</name>
                    <name lang="nl-NL">Voltooid</name>
                </option>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                    <name lang="nl-NL">Geannuleerd</name>
                </option>
            </options>
        </input-field>
        <component name="mollie-pluginconfig-element-orderstate-select">
            <name>orderStateFinalState</name>
            <entity>state_machine_state</entity>
            <label>Final order state</label>
            <label lang="de-DE">Finaler Bestellstatus</label>
            <label lang="nl-NL">Definitieve Bestelstatus</label>
            <helpText>If enabled, the plugin will not transition to a new order state, if the final state is already set in the order. Use this feature in combination with plugins and systems if their workflows do not match the one from Mollie.</helpText>
            <helpText lang="de-DE">Wenn aktiv, wechselt das Plugin nicht in einen neuen Bestellstatus, wenn der finale Status bereits in der Bestellung verwendet wird. Verwenden Sie diese Funktion in Kombination mit Plugins und -Systemen, wenn deren Workflows nicht mit denen von Mollie übereinstimmen.</helpText>
            <helpText lang="nl-NL">Indien ingeschakeld, gaat de plug-in niet over naar een nieuwe bestelstatus, als de definitieve status al in de bestelling is ingesteld. Gebruik deze functie in combinatie met plug-ins en -systemen als hun workflows niet overeenkomen met die van Mollie.</helpText>
        </component>

    </card>

    <card>
        <title>Subscriptions</title>
        <title lang="de-DE">Abonnements</title>
        <title lang="nl-NL">Abonnementen</title>
        <input-field type="bool">
            <name>subscriptionsEnabled</name>
            <defaultValue>true</defaultValue>
            <label>Enable Mollie subscriptions</label>
            <label lang="de-DE">Mollie Abonnements aktivieren</label>
            <label lang="nl-NL">Mollie abonnementen activeren</label>
            <helpText>Enables or disables the full subscription functionality. Please reload the administration after changing this setting.</helpText>
            <helpText lang="de-DE">Aktiviert oder deaktiviert die vollständige Abonnementfunktion. Bitte laden Sie die Administration neu, nachdem Sie diese Einstellung geändert haben.</helpText>
            <helpText lang="nl-NL">Schakelt de volledige abonnementsfunctionaliteit in of uit. Herlaad de administratie na het wijzigen van deze instelling.</helpText>
        </input-field>
        <input-field type="bool">
            <name>subscriptionsShowIndicator</name>
            <defaultValue>true</defaultValue>
            <label>Show subscription indicator</label>
            <label lang="de-DE">Abonnementetikett auf Produktseite anzeigen</label>
            <label lang="nl-NL">Label Abonnementen weergeven op productpagina</label>
            <helpText>Shows a subscription indicator on the product detail page of a subscription product.</helpText>
            <helpText lang="de-DE">Zeigt einen Abonnementhinweis auf der Produktdetailseite an.</helpText>
            <helpText lang="nl-NL">Toont een abonnement indicator op de productpagina van een abonnement product.</helpText>
        </input-field>
        <input-field type="bool">
            <name>subscriptionsAllowAddressEditing</name>
            <defaultValue>false</defaultValue>
            <label>Allow customers to edit billing and shipping addresses for running subscriptions</label>
            <label lang="de-DE">Kunden erlauben die Rechnungs- und Lieferadresse zu bearbeiten</label>
            <label lang="nl-NL">Klanten toelaten om factuur- en verzendadressen voor lopende abonnementen te bewerken</label>
            <helpText>If enabled, customers are allowed to edit their billing and shipping addresses in the shop. Please consider that no new shipping costs will be calculated for modified addresses. Countries are not allowed to be edited.</helpText>
            <helpText lang="de-DE">Wenn aktiv, dürfen Kunden ihre Rechnungs- und Lieferadressen im Shop bearbeiten. Bitte beachten Sie, dass für geänderte Adressen keine neuen Versandkosten berechnet werden. Länder dürfen nicht bearbeitet werden.</helpText>
            <helpText lang="nl-NL">Indien ingeschakeld, mogen klanten hun factuur- en verzendadres in de shop bewerken. Houd er rekening mee dat er geen nieuwe verzendkosten worden berekend voor gewijzigde adressen. Landen mogen niet worden bewerkt.</helpText>
        </input-field>
        <input-field type="bool">
            <name>subscriptionsAllowPauseResume</name>
            <defaultValue>false</defaultValue>
            <label>Allow customers to pause and resume running subscriptions</label>
            <label lang="de-DE">Kunden elrauben laufende Abonnements zu pausieren und fortzusetzen</label>
            <label lang="nl-NL">Laat klanten lopende abonnementen onderbreken en hervatten</label>
            <helpText>If enabled, customers are allowed to pause and also resume their subscriptions in their account.</helpText>
            <helpText lang="de-DE">Wenn diese Option aktiviert ist, können Kunden ihre Abonnements in ihrem Konto pausieren und auch fortsetzen.</helpText>
            <helpText lang="nl-NL">Indien ingeschakeld, mogen klanten hun abonnementen onderbreken en hervatten in hun account.</helpText>
        </input-field>
        <input-field type="bool">
            <name>subscriptionsAllowSkip</name>
            <defaultValue>false</defaultValue>
            <label>Allow customers to skip an upcoming subscription renewal</label>
            <label lang="de-DE">Kunden erlauben eine anstehende Abonnementverlängerung zu überspringen</label>
            <label lang="nl-NL">Sta klanten toe een lopende abonnementsverlenging over te slaan</label>
            <helpText>If enabled, customers are allowed to skip an upcoming renewal of a running subscription. This also takes the last notice period into account.</helpText>
            <helpText lang="de-DE">Wenn diese Option aktiviert ist, können Kunden eine bevorstehende Verlängerung eines laufenden Abonnements überspringen. Dabei wird auch die letzte Kündigungsfrist berücksichtigt.</helpText>
            <helpText lang="nl-NL">Indien ingeschakeld, mogen klanten een aanstaande verlenging van een lopend abonnement overslaan. Hierbij wordt ook rekening gehouden met de laatste opzegtermijn.</helpText>
        </input-field>
        <input-field type="bool">
            <name>subscriptionSkipRenewalsOnFailedPayments</name>
            <defaultValue>false</defaultValue>
            <label>Skip subscription renewal if payment fails</label>
            <label lang="de-DE">Abonnementverlängerung überspringen, wenn die Zahlung fehlschlägt</label>
            <label lang="nl-NL">Abonnementverlenging overslaan als de betaling mislukt</label>
            <helpText>If skipped, the plugin will not create new orders on subscription renewals, if the payment was not successful. If not skipped, then a new order is created and the customer can pay again within Shopware.</helpText>
            <helpText lang="de-DE">Wenn es übersprungen wird, erstellt das Plugin keine neuen Bestellungen bei Abonnementverlängerungen, wenn die Zahlung nicht erfolgreich war. Wenn nicht übersprungen, wird eine neue Bestellung erstellt und der Kunde kann innerhalb von Shopware erneut bezahlen.</helpText>
            <helpText lang="nl-NL">Indien overgeslagen, zal de plug-in geen nieuwe bestellingen maken bij abonnementsverlengingen, als de betaling niet succesvol was. Indien niet overgeslagen, dan wordt er een nieuwe bestelling aangemaakt en kan de klant opnieuw betalen binnen Shopware.</helpText>
        </input-field>
        <input-field type="int">
            <name>subscriptionsReminderDays</name>
            <defaultValue>2</defaultValue>
            <label>Reminder period before renewal (days)</label>
            <label lang="de-DE">Erinnerungszeitpunkt vor Erneuerung (Tage)</label>
            <label lang="nl-NL">Herinneringsperiode voor verlenging (dagen)</label>
            <helpText>Set the days in prior to the renewal for sending renewal reminder events in the system (Flow Builder, Business Events, ...).</helpText>
            <helpText lang="de-DE">Legen Sie die Tage vor der Verlängerung für das Senden von Verlängerungs-Erinnerungsereignissen im System fest (Flow Builder, Business Events, ...).</helpText>
            <helpText lang="nl-NL">Stel de dagen voorafgaand aan de verlenging in voor het verzenden van herinneringsgebeurtenissen in het systeem (Flow Builder, Business Events, ...)</helpText>
        </input-field>
        <input-field type="int">
            <name>subscriptionsCancellationDays</name>
            <defaultValue>0</defaultValue>
            <label>Latest notice period before renewal (days)</label>
            <label lang="de-DE">Letzter Kündigungstermin vor Verlängerung (Tagen)</label>
            <label lang="nl-NL">Laatste opzegtermijn voor verlenging (dagen)</label>
            <helpText>Set a notice period for customers before renewing the subscription. If a subscription renews on Friday and you use "2", then it can be cancelled or paused with latest Wednesday. Use "0" to always allow cancellations.</helpText>
            <helpText lang="de-DE">Legen Sie eine Kündigungsfrist für Verlänägerungen von Abonnements fest. Wenn sich ein Abonnement am Freitag verlängert und Sie "2" verwenden, kann es bis spätestens Mittwoch gekündigt oder pausiert werden. Verwenden Sie "0", um Stornierungen immer zuzulassen.</helpText>
            <helpText lang="nl-NL">Stel een opzegtermijn in voor klanten voordat ze het abonnement verlengen. Als een abonnement op vrijdag wordt verlengd en je gebruikt "2", dan kan het uiterlijk woensdag worden opgezegd of onderbroken. Gebruik "0" om annuleringen altijd toe te staan</helpText>
        </input-field>
    </card>

    <card>
        <title>Rounding</title>
        <title lang="de-DE">Rundungen</title>
        <title lang="nl-NL">Afrondingen</title>
        <input-field type="bool">
            <name>fixRoundingDiffEnabled</name>
            <label>Create line item in Mollie Dashboard</label>
            <label lang="de-DE">Erstelle Position in Mollie Dashboard</label>
            <label lang="nl-NL">Item maken in Mollie Dashboard</label>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="text">
            <name>fixRoundingDiffName</name>
            <label>Line item name (optional)</label>
            <label lang="de-DE">Automatisches Beheben von Rundungsproblemen</label>
            <label lang="nl-NL">Automatisches Beheben von Rundungsproblemen</label>
            <helpText>Set a custom name for your separate line item. This helps if you need to identify it in another system.</helpText>
            <helpText lang="de-DE">Lege einen benutzerdefinierten Namen für die separate Position fest. Dies hilft, wenn diese in einem anderen System identifiert werden muss.</helpText>
            <helpText lang="nl-NL">Stel een aangepaste naam in voor uw afzonderlijke regelitem. Dit is handig als u het in een ander systeem moet identificeren.</helpText>
        </input-field>
        <input-field type="text">
            <name>fixRoundingDiffSKU</name>
            <label>Line item SKU (optional)</label>
            <label lang="de-DE">Automatisches Beheben von Rundungsproblemen</label>
            <label lang="nl-NL">Automatisches Beheben von Rundungsproblemen</label>
            <helpText>Set a custom SKU value for your separate line item. This helps if you need to identify it in another system.</helpText>
            <helpText lang="de-DE">Lege einen benutzerdefinierten SKU Wert für die separate Position fest. Dies hilft, wenn diese in einem anderen System identifiert werden muss.</helpText>
            <helpText lang="nl-NL">Stel een aangepaste SKU in voor uw afzonderlijke regelitem. Dit is handig als u het in een ander systeem moet identificeren.</helpText>
        </input-field>
        <component name="mollie-pluginconfig-section-rounding">
            <name>molliePluginConfigSectionRounding</name>
        </component>
    </card>

    <card>
        <title>Javascript</title>
        <title lang="de-DE">Storefront Javascript</title>
        <title lang="nl-NL">Storefront Javascript</title>
        <input-field type="bool">
            <name>useShopwareJavascript</name>
            <label>Use Shopware default Javascript in Storefront (requires manual compilation)</label>
            <label lang="de-DE">Verwenden Sie Shopware-Standard-Javascript in Storefront (erfordert manuelle Kompilierung)</label>
            <label lang="nl-NL">Gebruik Shopware standaard Javascript in Storefront (vereist handmatig bouwen)</label>
            <defaultValue>false</defaultValue>
            <helpText>You can also bring back Mollie inside the "all.js" of the theme directly. This requires that you rebuild the Storefront on your own.</helpText>
            <helpText>Sie können Mollie auch direkt in die "all.js" des Themes zurückbringen. Dies erfordert, dass Sie die Storefront selbst neu erstellen.</helpText>
            <helpText lang="nl-NL">Je kunt Mollie ook rechtstreeks terugbrengen in de "all.js" van het thema. Dit vereist dat je de Storefront zelf herbouwt.</helpText>
        </input-field>
    </card>

</config>
