<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Mollie API</title>
        <title lang="de-DE">Mollie API</title>
        <title lang="nl-NL">Mollie API</title>

        <input-field>
            <name>liveApiKey</name>
            <label>Live Key</label>
            <label lang="de-DE">Live Key</label>
            <label lang="nl-NL">Live-sleutel</label>
        </input-field>
        <input-field>
            <name>testApiKey</name>
            <label>Test Key</label>
            <label lang="de-DE">Test Key</label>
            <label lang="nl-NL">Test-sleutel</label>
        </input-field>
        <input-field>
            <name>profileId</name>
            <label>Mollie Profile ID</label>
            <label lang="de-DE">Mollie Profile ID</label>
            <label lang="nl-NL">Mollie Profile ID</label>
        </input-field>
        <input-field type="bool">
            <name>testMode</name>
            <label>Test Mode</label>
            <label lang="de-DE">Test Mode</label>
            <label lang="nl-NL">Test Modus</label>
        </input-field>
        <input-field type="bool">
            <name>debugMode</name>
            <label>Debug Mode</label>
            <label lang="de-DE">Debug Mode</label>
            <label lang="nl-NL">Debug Modus</label>
        </input-field>
        <input-field type="bool">
            <name>enableCreditCardComponents</name>
            <label>Credit Card Components</label>
            <label lang="de-DE">Credit Card Components</label>
            <label lang="nl-NL">Credit Card Components</label>
        </input-field>
        <input-field type="int">
            <name>paymentMethodBankTransferDueDateDays</name>
            <label>Bank Transfer Due Date Days</label>
            <label lang="de-DE">Bank Transfer Due Date (in days from order creation)</label>
            <label lang="nl-NL">Bank Transfer Due Date (in days from order creation)</label>
        </input-field>
        <input-field type="int">
            <name>orderLifetimeDays</name>
            <label>Order Lifetime Days</label>
            <label lang="de-DE">Order Lifetime (in days from order creation)</label>
            <label lang="nl-NL">Order Lifetime (in days from order creation)</label>
        </input-field>
    </card>
</config>