{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_action_proceed %}
    <div class="checkout-aside-action">
        {% include '@MolliePayments/mollie/component/paypal-express-checkout-button.twig' with {
            cols: 'mb-2',
            cartToken: page.cart.token,
        } %}
    </div>

    {{ parent() }}
{% endblock %}
