.modal-content {
    .payment-method-label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mollie-ideal-issuer {
        margin-top: 15px;
    }

    .mollie-bancomat-pay {
        margin-top: 15px;
    }

    .mollie-pos-terminals {
        margin-top: 15px;
    }

    .payment-method-description {
        order: -1;
    }
}

// checkout
.confirm-payment {
    .mollie-ideal-issuer {
        margin-top: 15px;

        .custom-select:invalid {
            border: 1px solid red;
        }
    }

    .mollie-bancomat-pay {
        margin-top: 15px;
    }

    .mollie-pos-terminals {
        margin-top: 15px;

        .custom-select:invalid {
            border: 1px solid red;
        }
    }
}

// account
.account-payment {
    .payment-method-description {
        order: -1;
    }
}
