.mollie-paypal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    padding: 7px;
}

.mollie-paypal-button-image {
    width: 80px;
}

.mollie-paypal-button-label {
    margin: 0;
    margin-left: 8px;
    font-weight: 100;
}

.paypal-button-pill {
    border-radius: 30px;
}

.paypal-button-rect {
    border-radius: 0;
}

.paypal-theme-gold {
    color: $black;
    background-color: $mollie-paypal-gold;
    border: 1px solid $mollie-paypal-gold-hover;
}

.paypal-theme-gold:hover {
    background-color: $mollie-paypal-gold-hover;
}

.paypal-theme-blue {
    color: $white;
    background-color: $mollie-paypal-blue;
    border: 1px solid $mollie-paypal-blue-hover;
}

.paypal-theme-blue:hover {
    background-color: $mollie-paypal-blue-hover;
}

.paypal-theme-silver {
    color: $black;
    background-color: $mollie-paypal-silver;
    border: 1px solid $mollie-paypal-silver-border;
}

.paypal-theme-silver:hover {
    background-color: $mollie-paypal-silver-hover;
}

.paypal-theme-white {
    color: $black;
    background-color: $white;
    border: 1px solid $mollie-paypal-white-border;
}

.paypal-theme-white:hover {
    background-color: $mollie-paypal-white-hover;
}

.paypal-theme-black {
    color: $white;
    background-color: $black;
    border: 1px solid $mollie-paypal-black-border;
}

.paypal-theme-black:hover {
    background-color: $mollie-paypal-black-hover;
}
