{% block mollie_subscriptions_to_product_list %}
    <sw-page class="magmodules-shopreview-list">
        <template #content>
            {% block mollie_subscriptions_to_product_list_content %}
                <sw-entity-listing
                        v-if="subscriptions"
                        :items="subscriptions"
                        :repository="repository"
                        :sort-by="sortBy"
                        :sort-direction="sortDirection"
                        :showSelection="false"
                        :allowDelete="false"
                        :showDelete="false"
                        :columns="columns"
                        :isLoading="isLoading">

                    {% block mollie_subscriptions_list_content_list_amount %}
                        <template #column-amount="{ item }">
                            {{ item.amount | currency(item.currency) }}
                        </template>
                    {% endblock %}

                    {% block mollie_subscriptions_list_content_list_created_at %}
                        <template #column-createdAt="{ item }">
                            {{ item.createdAt | date('d/m/Y') }}
                        </template>
                    {% endblock %}

                    {% block mollie_subscriptions_list_content_list_next_payment_date %}
                        <template #column-nextPaymentDate="{ item }">
                            {{ item.nextPaymentDate | date('d/m/Y') }}
                        </template>
                    {% endblock %}

                    {% block mollie_subscriptions_list_content_list_pre_payment_reminder %}
                        <template #column-prePaymentReminder="{ item }">
                            {{ prePaymentReminder(item) | date('d/m/Y') }}
                        </template>
                    {% endblock %}

                    {% block mollie_subscriptions_list_content_list_actions %}
                        <template #delete-action>
                            <span></span>
                        </template>

                        <template #more-actions="{ item }">
                            {% block mollie_subscriptions_list_content_list_actions_cancel %}
                                <sw-context-menu-item @click="onCancel(item)"
                                                      class="sw-entity-listing__context-menu-edit-cancel">
                                    {{ $tc('mollie-subscriptions.page.list.columns.action.cancel') }}
                                </sw-context-menu-item>
                            {% endblock %}
                        </template>
                    {% endblock %}
                </sw-entity-listing>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
