<sw-modal class="mollie-payments-flowsequence-action-order-refund-modal"
          :title="$tc('mollie-payments.sw-flow.actions.refundOrder.modal.title')"
          @modal-close="onClose">
    <div>
        <sw-container columns="1fr">
                <span class="mollie-payments-flowsequence-action-order-refund-modal__description-title">
                     {{ $tc('mollie-payments.sw-flow.actions.refundOrder.modal.title') }}
                </span>
        </sw-container>
        <sw-container columns="1fr" class="mollie-payments-flowsequence-action-order-refund-modal__image-container">
        </sw-container>
        <br/>
        <br/>
        {{ $tc('mollie-payments.sw-flow.actions.refundOrder.modal.description') }}
        <br/>
        <br/>
        <sw-alert variant="warning" :showIcon="true" :closable="false">
            {{ $tc('mollie-payments.sw-flow.actions.refundOrder.modal.warning') }}
        </sw-alert>
        <sw-alert variant="info" appearance="notification" :showIcon="true" :closable="false">
            {{ $tc('mollie-payments.sw-flow.actions.refundOrder.modal.warningConfig') }}
        </sw-alert>
    </div>
    <template #modal-footer>
        <sw-button size="small" @click="onClose">
            {{ $tc('global.default.cancel') }}
        </sw-button>
        <sw-button variant="primary" size="small" @click="onAddAction">
            {{ $tc('global.default.save') }}
        </sw-button>
    </template>
</sw-modal>
