.mollie-subscriptions-detail {
    .mollie-subscriptions-detail-link-button {
        a {
            color: white;
            text-decoration: none;
        }
    }

    .mollie-subscriptions-detail-status-action-row {
        margin-bottom: 20px;
    }
}
