parameters:
    level: 8
    paths:
        - ./../src
        - ./../shopware
    excludePaths:
        - ./../src/Resources/*
        - ./../src/Migration/*
        - ./../shopware/Component/Subscription/Search/SubscriptionAdminSearchIndexer.php
    disallowedFunctionCalls:
        - function: 'var_dump()'
          message: 'use some logger instead'
        - function: 'var_export()'
          message: 'use some logger instead'
        - function: 'dd()'
          message: 'use some logger instead'
        - function: 'print_r()'
          message: 'use some logger instead'
        - function: 'putenv()'
          message: 'might overwrite existing variables'
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
    		- '#.*Shopware\\Commercial\\ReturnManagement\\Entity\\OrderReturn.*#'
    		- identifier: class.notFound
    		- identifier: generics.notCompatible
    		- identifier: generics.notGeneric
    		- identifier: generics.lessTypes
    		- identifier: return.unresolvableType
    		- identifier: property.unresolvableType
    		- identifier: parameter.unresolvableType
    		- identifier: varTag.unresolvableType
    		- identifier: attribute.notFound
    		- identifier: function.alreadyNarrowedType
    		# Traits used only in AbstractMolliePaymentHandler.php which is excluded from analysis
    		# because it uses the Feature::isActive() if/else pattern for 6.5/6.7 compatibility.
    		- identifier: trait.unused
    		# ArrayStruct changed from <TKey, TValue> in 6.5 to <TData extends array> in 6.7.
    		# <array<string, mixed>> is correct for 6.7; on 6.5 the second type param is missing.
    		- identifier: missingType.generics

services:
    - class: MolliePayments\Shopware\PHPStan\Rules\NoManufacturerRule
      tags:
        - phpstan.rules.rule

includes:
    - ../../../../vendor/spaze/phpstan-disallowed-calls/extension.neon
