{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}


{% block page_checkout_item_info_ordernumber %}
    {{ parent() }}
    {% if  lineItem.extensions.mollieSubscription.isSubscriptionProduct %}
        <div class="cart-item-ordernumber">
            {{ lineItem.extensions.mollieSubscription.translatedInterval }}
        </div>
    {% endif %}
{% endblock %}