{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}


{% block page_checkout_item_info_ordernumber %}
    {{ parent() }}
    {% if lineItem.extensions.mollie_payments and lineItem.extensions.mollie_payments.subscription %}
        <div class="cart-item-ordernumber">
            {{ lineItem.extensions.mollie_payments|mollie_subscription_interval }}
        </div>
    {% endif %}
{% endblock %}
