@import "~scss/variables";

.sw-product-detail-mollie-subscription-form {
    &__subscriptionInterval,
    &__subscriptionRepetition {
        display: inline-flex;

        .subscription-form-field {
            width: 49%;
            margin-right: 10px;
        }
    }
}

.sw-product-detail-mollie-subscription-form__container,
.sw-product-detail-mollie-vouchers-form__container {
    .sw-product-detail-mollie-subscription__description-title,
    .sw-product-detail-mollie-vouchers__description-title {
        font-weight: $font-weight-bold;
        font-size: 14px;
        text-align: center;
    }

    .sw-product-detail-mollie-vouchers__image-container {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        margin-top: 20px;

        .sw-product-detail-mollie-vouchers__image {
            width: 80px;
        }
    }

    .sw-product-feature-set-form__description-body {
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
    }

    .sw-product-detail-mollie-vouchers__button-readmore {
        text-align: center;
    }

    .sw-product-detail-mollie-vouchers__inheritance-warning {
        margin-top: 20px;
        font-size: 14px;
    }
}
