<div>
    {% block sw_product_detail_mollie_vouchers %}
        <sw-card :title="$tc('mollie-payments.vouchers.CARD_TITLE')">
            <sw-container gap="0px 30px" class="sw-product-detail-mollie-vouchers-form__container">

                <sw-container columns="1fr">
                <span class="sw-product-detail-mollie-vouchers__description-title">
                    {{ $tc('mollie-payments.vouchers.VOUCHER_INFO_TITLE') }}
                </span>
                </sw-container>

                <sw-container columns="1fr" class="sw-product-detail-mollie-vouchers__image-container">
                </sw-container>

                <sw-container columns="1fr">
                    <p class="sw-product-feature-set-form__description-body">
                        {{ $tc('mollie-payments.vouchers.VOUCHER_INFO_DESCRIPTION') }}
                    </p>
                </sw-container>

                <sw-container columns="6fr 1fr">
                    <div></div>
                    <sw-button class="sw-product-detail-mollie-vouchers__button-readmore" :block="true"
                               variant="primary"
                               size="small" link="https://github.com/mollie/Shopware6/wiki/Voucher">
                        {{ $tc('mollie-payments.vouchers.VOUCHER_BTN_READMORE') }}
                    </sw-button>
                </sw-container>

                <sw-container columns="1fr" v-if="isDefaultLanguage">

                    <sw-inherit-wrapper
                            :label="$tc('mollie-payments.vouchers.VOUCHER_TYPE_CAPTION')"
                            v-model="product.customFields.mollie_payments_product_voucher_type"
                            :has-parent="!!parentProduct.id"
                            :inherited-value="parentProduct.customFields.mollie_payments_product_voucher_type">
                        <template #content="props">
                            <sw-select-field
                                    class="mollie-voucher-type"
                                    :disabled="props.isInherited"
                                    :value="props.currentValue"
                                    @change="props.updateCurrentValue">
                                <option v-for="type in voucherTypes" :key="type.key" :value="type.key">
                                    {{ type.name }}
                                </option>
                            </sw-select-field>
                        </template>
                    </sw-inherit-wrapper>

                </sw-container>

                <sw-container columns="1fr" v-if="!isDefaultLanguage">
                    <sw-alert variant="default" :showIcon="true" :closable="false"
                              class="sw-product-detail-mollie-vouchers__inheritance-warning">
                        {{ $tc('mollie-payments.vouchers.VOUCHER_INFO_DEFAULTLANGUAGE') }}
                    </sw-alert>
                </sw-container>

            </sw-container>
        </sw-card>
    {% endblock %}

    {# --------------------------------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------------------- #}

    {% block sw_product_detail_mollie_subscription %}
        <sw-card :title="$tc('mollie-payments.subscriptions.product.card-title')">
            <sw-container gap="0px 30px" class="sw-product-detail-mollie-subscription-form__container">
                <sw-container columns="1fr">
                    <span class="sw-product-detail-mollie-subscription__description-title">
                        {{ $tc('mollie-payments.subscriptions.product.title') }}
                    </span>
                </sw-container>
                <sw-container columns="1fr">
                    <p class="sw-product-feature-set-form__description-body">
                        {{ $tc('mollie-payments.subscriptions.product.description') }}
                    </p>
                </sw-container>
                <sw-container columns="6fr 1fr">
                    <div></div>
                    <sw-button class="sw-product-detail-mollie-vouchers__button-readmore" :block="true"
                               variant="primary"
                               size="small" link="https://github.com/mollie/Shopware6/wiki/Subscriptions">
                        {{ $tc('mollie-payments.subscriptions.product.btnReadMore') }}
                    </sw-button>
                </sw-container>

                <sw-container gap="0px 30px" class="sw-product-detail-mollie-subscription-form__container">
                    {# --------------------------------------------------------------------------------------------- #}
                    {# --------------------------------------------------------------------------------------------- #}
                    {# --------------------------------------------------------------------------------------------- #}
                    <sw-container columns="1fr" v-if="isDefaultLanguage">
                        <sw-inherit-wrapper
                                v-model="product.customFields.mollie_payments_product_subscription_enabled"
                                :has-parent="!!parentProduct.id"
                                :inherited-value="parentProduct.customFields.mollie_payments_product_subscription_enabled">
                            <template #content="props">
                                <sw-switch-field
                                        :map-inheritance="props"
                                        :label="$tc('mollie-payments.subscriptions.product.mollieSubscriptionProduct')"
                                        class="mollie-subscription-enabled"
                                        :disabled="props.isInherited"
                                        :value="props.currentValue"
                                        @change="props.updateCurrentValue">
                                </sw-switch-field>
                            </template>
                        </sw-inherit-wrapper>
                    </sw-container>
                    {# --------------------------------------------------------------------------------------------- #}
                    {# --------------------------------------------------------------------------------------------- #}
                    {# --------------------------------------------------------------------------------------------- #}
                    <sw-container columns="1fr 1fr" gap="30px">
                        <sw-inherit-wrapper
                                :label="$tc('mollie-payments.subscriptions.product.mollieSubscriptionIntervalAmount')"
                                v-model="product.customFields.mollie_payments_product_subscription_interval"
                                :has-parent="!!parentProduct.id"
                                :inherited-value="parentProduct.customFields.mollie_payments_product_subscription_interval">
                            <template #content="props">
                                <sw-number-field
                                        numberType="int"
                                        :disabled="props.isInherited"
                                        :value="props.currentValue"
                                        @change="props.updateCurrentValue">
                                </sw-number-field>
                            </template>
                        </sw-inherit-wrapper> 
                        <sw-inherit-wrapper
                                :label="$tc('mollie-payments.subscriptions.product.mollieSubscriptionIntervalType')"
                                v-model="product.customFields.mollie_payments_product_subscription_interval_unit"
                                :has-parent="!!parentProduct.id"
                                :inherited-value="parentProduct.customFields.mollie_payments_product_subscription_interval_unit">
                            <template #content="props">
                                <sw-single-select
                                        :options="subscriptionIntervalTypes"
                                        :disabled="props.isInherited"
                                        :value="props.currentValue"
                                        @change="props.updateCurrentValue">
                                </sw-single-select>
                            </template>
                        </sw-inherit-wrapper>
                    </sw-container>
                    {# --------------------------------------------------------------------------------------------- #}
                    {# --------------------------------------------------------------------------------------------- #}
                    {# --------------------------------------------------------------------------------------------- #}
                    <sw-container columns="1fr 1fr" gap="30px">
                        <sw-inherit-wrapper
                                :label="$tc('mollie-payments.subscriptions.product.mollieSubscriptionRepetitionAmount')"
                                v-model="product.customFields.mollie_payments_product_subscription_repetition"
                                :has-parent="!!parentProduct.id"
                                :inherited-value="parentProduct.customFields.mollie_payments_product_subscription_repetition">
                            <template #content="props">
                                <sw-text-field
                                        :placeholder="$tc('mollie-payments.subscriptions.product.mollieSubscriptionRepetitionPlaceholder')"
                                        :disabled="props.isInherited"
                                        :value="props.currentValue"
                                        @change="props.updateCurrentValue">
                                </sw-text-field>
                            </template>
                        </sw-inherit-wrapper>
                    </sw-container>
                    {# --------------------------------------------------------------------------------------------- #}
                    {# --------------------------------------------------------------------------------------------- #}
                    {# --------------------------------------------------------------------------------------------- #}
                </sw-container>
                <sw-container columns="1fr" v-if="!isDefaultLanguage">
                    <sw-alert variant="default" :showIcon="true" :closable="false"
                              class="sw-product-detail-mollie-subscription__inheritance-warning">
                        {{ $tc('mollie-payments.subscriptions.product.infoDefaultLanguage') }}
                    </sw-alert>
                </sw-container>
            </sw-container>
        </sw-card>
    {% endblock %}
</div>
