{% sw_extends '@Storefront/storefront/component/delivery-information.html.twig' %}

{% block component_delivery_information %}
    {{ parent() }}

    {% if page.extensions.mollieSubscription.isSubscriptionProduct and page.extensions.mollieSubscription.showIndicator %}
        <div class="product-mollie-subscriptions-information">
            <p class="delivery-information mollie-subscriptions">
                <span class="delivery-status-indicator bg-info"></span>
                {{ "molliePayments.subscriptions.product.information"|trans|sw_sanitize }}, {{ page.extensions.mollieSubscription.translatedInterval }}
            </p>
        </div>
    {% endif %}

{% endblock %}
