{% sw_extends '@Storefront/storefront/component/delivery-information.html.twig' %}

{% block component_delivery_information %}
    {{ parent() }}

    {% if mollie_subscriptions_enabled_beta and page.product.customFields.mollie_payments.subscription_product and mollie_subscriptions_indicator_enabled %}
        <div class="product-mollie-subscriptions-information">
            <p class="delivery-information mollie-subscriptions">
                <span class="delivery-status-indicator bg-info"></span>
                {{ "mollie-subscriptions.product.information"|trans|sw_sanitize }}
            </p>
        </div>
    {% endif %}

{% endblock %}
