@import '~scss/variables';

.mollie-pluginconfig-info {
    .title {
        font-size: 16px;
        font-weight: $font-weight-bold;
    }

    .description {
        margin-top: 20px;
    }

    .description-footer {
        margin-top: 10px;
        font-size: 12px;
    }

    .list {
        list-style: none;
        counter-reset: mollie-onboarding-step;
        margin: 0;
        padding: 0;

        .list-item {
            counter-increment: mollie-onboarding-step;
            position: relative;
            padding-left: 40px;
            margin-bottom: 20px;
            min-height: 28px;

            &::before {
                content: counter(mollie-onboarding-step);
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background: #189eff;
                color: #fff;
                font-size: 13px;
                font-weight: $font-weight-bold;
            }
        }
    }

    .btn-action {
        width: 100%;
        margin-bottom: 10px;
        text-align: left;
    }

    .link-troubleshooting {
        margin-top: 10px;
    }

    .col-right {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-end;
    }
}
