<sw-container class="mollie-pluginconfig-info" gap="16px" columns="3fr 1fr">
    <div>
        <div class="title">
            {{ $tc('mollie-payments.config.info.title', 0, { userName: userName}) }}
        </div>
        <div class="description">
            {{ $tc('mollie-payments.config.info.descriptionTop') }}<br/>
            <br/>
            <ol class="list">
                <li class="list-item">
                    {{ $tc('mollie-payments.config.info.onboardingStep1') }}<br/>
                    <mollie-external-link href="https://www.mollie.com/signup/">
                        https://www.mollie.com/signup
                    </mollie-external-link>
                </li>
                <li class="list-item">
                    {{ $tc('mollie-payments.config.info.onboardingStep2') }}<br/>
                    {{ $tc('mollie-payments.config.info.onboardingStep2TestMode') }}
                </li>
                <li class="list-item">
                    {{ $tc('mollie-payments.config.info.onboardingStep3') }}<br/>
                    <mollie-internal-link inline :routerLink="{ name:'sw.sales.channel.list'}"
                                          v-if="hasSalesChannelList">
                        {{ $tc('mollie-payments.config.info.onboardingStep3Link') }}
                    </mollie-internal-link>
                </li>
            </ol>
            <br/>
            {{ $tc('mollie-payments.config.info.descriptionBottom') }}
        </div>
        <div class="description-footer">
            {{ $tc('mollie-payments.config.info.descriptionFooter') }}
        </div>
    </div>
    <div class="col-right">
        <sw-button class="btn-action" link="https://github.com/mollie/Shopware6/wiki">
            <sw-icon name="default-documentation-file"></sw-icon>
            {{ $tc('mollie-payments.config.info.btnDocumentation') }}
        </sw-button>
        <sw-button class="btn-action" @click="openSupport">
            <sw-icon name="default-communication-envelope"></sw-icon>
            {{ $tc('mollie-payments.config.info.btnRequestSupport') }}
        </sw-button>
        <mollie-external-link class="link-troubleshooting"
                              href="https://github.com/mollie/Shopware6/wiki/Troubleshooting">
            {{ $tc('mollie-payments.config.info.btnTroubleshooting') }}
        </mollie-external-link>
    </div>
    <mollie-pluginconfig-support-modal v-if="isSupportOpen" @close="closeSupport"/>
</sw-container>
