{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_address_login_toggle %}

    {{ parent() }}


    {% set paypalExpressVisible =  mollie_paypalexpress_enabled and ('register' not in mollie_paypalexpress_restrictions) %}
    {% set noticeVisible = applePayVisible or paypalExpressVisible %}

    {% sw_include '@MolliePayments/mollie/component/express-privacy-notice.html.twig' with {visible:paypalExpressVisible} %}

    {% if paypalExpressVisible %}
        {% block page_checkout_address_mollie_paypal_express_component %}
            <div class="mt-3 mb-3">
                {% include '@MolliePayments/mollie/component/paypal-express-button.twig' with {cols: 'col-5'} %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
