<sw-card-section class="mollie-refund-manager">
    <sw-container columns="1fr">
        <mollie-refund-manager-cart
            :order="order"
            :order-items="orderItems"
            :is-loading="isRefundDataLoading"
            :rounding-diff="roundingDiff"
            :tutorial-partial-quantity-visible="tutorialPartialQuantityVisible"
            :tutorial-partial-promotions-visible="tutorialPartialPromotionsVisible"
            :tutorial-refund-shipping="tutorialRefundShipping"
            :tutorial-reset-stock="tutorialResetStock"
            @select-all="btnSelectAllItems_Click"
            @reset-form="btnResetCartForm_Click"
            @reset-line="btnResetLine_Click"
            @qty-changed="onItemQtyChanged"
            @amount-changed="onItemAmountChanged"
            @refund-tax-changed="onItemRefundTaxChanged"
            @promotion-changed="onItemPromotionDeductionChanged">
        </mollie-refund-manager-cart>

        <mollie-refund-manager-refunds
            :order="order"
            :refunds="mollieRefunds"
            :is-loading="isRefundDataLoading"
            :is-acl-cancel-allowed="isAclCancelAllowed"
            @cancel="btnCancelRefund_Click">
        </mollie-refund-manager-refunds>

        <sw-card :hero="false" class="mollie-refund-manager-instructions-container" position-identifier="mollie-refund-manager-instructions-container" :large="true">
            <sw-container v-if="configShowInstructions" columns="1fr" gap="0px">
                <div class="instructions-container-top">
                    <sw-button variant="context" size="small" icon="default-basic-x-block"
                               @click="btnResetTutorials_Click()">
                        {{ $tc('mollie-payments.refund-manager.instructions.linkResetTutorials') }}
                    </sw-button>
                </div>
            </sw-container>
            <sw-container columns="8fr 3fr" gap="0px">
                <mollie-refund-manager-instructions
                    :show-instructions="configShowInstructions"
                    :blocks-primary="instructionBlocksPrimary"
                    :blocks-secondary="instructionBlocksSecondary">
                </mollie-refund-manager-instructions>
                <mollie-refund-manager-summary
                    :order="order"
                    :is-loading="isRefundDataLoading"
                    :is-refunding="isRefunding"
                    :is-acl-refund-allowed="isAclRefundAllowed"
                    :config-verify-refund="configVerifyRefund"
                    :rounding-diff="roundingDiff"
                    :voucher-amount="voucherAmount"
                    :pending-refunds="pendingRefunds"
                    :refunded-amount="refundedAmount"
                    :remaining-amount="remainingAmount"
                    :refund-amount="refundAmount"
                    :refund-description="refundDescription"
                    :refund-internal-description="refundInternalDescription"
                    :check-verify-refund="checkVerifyRefund"
                    :tutorial-full-refund-visible="tutorialFullRefundVisible"
                    :tutorial-partial-amount-refund-visible="tutorialPartialAmountRefundVisible"
                    :tutorial-partial-quantity-visible="tutorialPartialQuantityVisible"
                    :tutorial-partial-promotions-visible="tutorialPartialPromotionsVisible"
                    :tutorial-reset-stock="tutorialResetStock"
                    :tutorial-refund-shipping="tutorialRefundShipping"
                    @refund-amount-changed="refundAmount = $event"
                    @refund-description-changed="refundDescription = $event"
                    @refund-internal-description-changed="refundInternalDescription = $event"
                    @verify-changed="checkVerifyRefund = $event"
                    @fix-diff="btnFixDiff_Click"
                    @refund="btnRefund_Click"
                    @refund-full="btnRefundFull_Click">
                </mollie-refund-manager-summary>
            </sw-container>
        </sw-card>
    </sw-container>
</sw-card-section>
