{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": "auto"
            },
        ]
    ],
    "plugins": [
        "@babel/transform-runtime"
    ]
}

