@import "~scss/variables";

.mollie-payments-flowsequence-action-order-ship-modal {
    .mollie-payments-flowsequence-action-order-ship-modal__description-title {
        font-weight: $font-weight-bold;
        font-size: 14px;
        text-align: center;
    }

    .mollie-payments-flowsequence-action-order-ship-modal__image-container {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        margin-top: 20px;

        .mollie-payments-flowsequence-action-order-ship-modal__image {
            width: 80px;
        }
    }
}
