name: CI Pipeline


on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/**'
      - '**.md'
      - 'makefile'


jobs:

  install:
    name: Install Dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Clone Code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4

      - name: Mount Dev Dependency Cache
        uses: actions/cache@v3
        with:
          key: cache-dev-dependencies-${{ github.run_id }}
          path: |
            src/Resources/app/storefront/node_modules
            src/Resources/app/administration/node_modules
            vendor

      - name: Install Dependencies
        run: make dev -B

  # ------------------------------------------------------------------------------------------------------------------------

  jest:
    name: Jest Tests
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Clone Code
        uses: actions/checkout@v3

      - name: Mount Dev Dependency Cache
        uses: actions/cache@v3
        with:
          key: cache-dev-dependencies-${{ github.run_id }}
          path: |
            src/Resources/app/storefront/node_modules
            src/Resources/app/administration/node_modules
            vendor

      - name: Run Jest
        run: make jest -B

  eslint:
    name: ESLint
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Clone Code
        uses: actions/checkout@v3

      - name: Mount Dev Dependency Cache
        uses: actions/cache@v3
        with:
          key: cache-dev-dependencies-${{ github.run_id }}
          path: |
            src/Resources/app/storefront/node_modules
            src/Resources/app/administration/node_modules
            vendor

      - name: Run ESLint
        run: make eslint -B

  stylelint:
    name: Stylelint
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Clone Code
        uses: actions/checkout@v3

      - name: Mount Dev Dependency Cache
        uses: actions/cache@v3
        with:
          key: cache-dev-dependencies-${{ github.run_id }}
          path: |
            src/Resources/app/storefront/node_modules
            src/Resources/app/administration/node_modules
            vendor

      - name: Run Stylelint
        run: make stylelint -B

  # ------------------------------------------------------------------------------------------------------------------------

  php_checks:
    name: PHP Syntax Checks
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Clone Code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4

      - name: PHP Syntax Checks
        run: make phpcheck -B

  php_min:
    name: PHP 7.2 Compatibility
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Clone Code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4

      - name: Mount Dev Dependency Cache
        uses: actions/cache@v3
        with:
          key: cache-dev-dependencies-${{ github.run_id }}
          path: |
            src/Resources/app/storefront/node_modules
            src/Resources/app/administration/node_modules
            vendor

      - name: PHP Compatibility Checks
        run: make phpmin -B

  phpunit:
    name: PHPUnit
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Clone Code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4

      - name: Mount Dev Dependency Cache
        uses: actions/cache@v3
        with:
          key: cache-dev-dependencies-${{ github.run_id }}
          path: |
            src/Resources/app/storefront/node_modules
            src/Resources/app/administration/node_modules
            vendor

      - name: Run PHPUnit
        run: make phpunit -B

  infection:
    name: Infection Tests
    needs: phpunit
    runs-on: ubuntu-latest
    steps:
      - name: Clone Code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4

      - name: Mount Dev Dependency Cache
        uses: actions/cache@v3
        with:
          key: cache-dev-dependencies-${{ github.run_id }}
          path: |
            src/Resources/app/storefront/node_modules
            src/Resources/app/administration/node_modules
            vendor

      - name: Run Infection
        run: make infection -B

  phpstan:
    name: PHPStan
    needs: install
    runs-on: ubuntu-latest
    steps:

      - name: Clone Code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4

      - name: Mount Dev Dependency Cache
        uses: actions/cache@v3
        with:
          key: cache-dev-dependencies-${{ github.run_id }}
          path: |
            src/Resources/app/storefront/node_modules
            src/Resources/app/administration/node_modules
            vendor

      - name: Run PHPStan
        run: make stan -B

  phpcsfixer:
    name: PHP CS Fixer
    needs: install
    runs-on: ubuntu-latest
    steps:

      - name: Clone Code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4

      - name: Mount Dev Dependency Cache
        uses: actions/cache@v3
        with:
          key: cache-dev-dependencies-${{ github.run_id }}
          path: |
            src/Resources/app/storefront/node_modules
            src/Resources/app/administration/node_modules
            vendor

      - name: Run PHP CS Fixer
        run: make csfix -B

  # ------------------------------------------------------------------------------------------------------------------------

  build:
    name: Build Plugin
    runs-on: ubuntu-latest
    steps:

      - name: Clone Code
        uses: actions/checkout@v3

      - name: Create Cache Directories
        run: |
          mkdir -p ~/.build

      - name: Mount Build Cache
        uses: actions/cache@v3
        with:
          key: cache-plugin-${{ github.run_id }}
          path: ~/.build

      - name: Build Plugin
        uses: ./.github/actions/build-plugin
        with:
          shopware: 6.4.17.0

  e2e:
    name: E2E | Shopware ${{ matrix.shopware }}, PHP ${{ matrix.php }}
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - shopware: '6.4.17.0'
            php: '8.1'
          - shopware: '6.4.16.1'
            php: '8.1'
          - shopware: '6.4.15.2'
            php: '8.1'
          - shopware: '6.4.15.1'
            php: '8.1'
          - shopware: '6.4.14.0'
            php: '8.1'
          - shopware: '6.4.12.0'
            php: '8.0'
          - shopware: '6.4.11.1'
            php: '8.0'
          - shopware: '6.4.10.0'
            php: '8.0'
          - shopware: '6.4.9.0'
            php: '7.4'
          - shopware: '6.4.8.2'
            php: '7.4'
          - shopware: '6.4.7.0'
            php: '7.4'
          - shopware: '6.4.6.1'
            php: '7.4'
          - shopware: '6.4.5.1'
            php: '7.4'
          - shopware: '6.4.4.1'
            php: '7.4'
          - shopware: '6.4.2.1'
            php: '7.4'
          - shopware: '6.4.1.2'
            php: '7.4'
          - shopware: '6.3.5.2'
            php: '7.2'
    steps:

      - name: Clone Code
        uses: actions/checkout@v3

      - name: Mount Build Cache
        uses: actions/cache@v3
        with:
          key: cache-plugin-${{ github.run_id }}
          path: ~/.build

      - name: E2E Tests, Shopware ${{ matrix.shopware }}
        uses: ./.github/actions/run-e2e
        with:
          # -------------------------------------------
          SHOPWARE: ${{ matrix.shopware }}
          PHP: ${{ matrix.php }}
          # -------------------------------------------
          MOLLIE_APIKEY_TEST: ${{ secrets.MOLLIE_APIKEY_TEST }}
          # -------------------------------------------
          RUN_CYPRESS: true
          TESTRAIL: true
          TESTRAIL_DOMAIN: ${{ secrets.TESTRAIL_DOMAIN }}
          TESTRAIL_USERNAME: ${{ secrets.TESTRAIL_USERNAME }}
          TESTRAIL_PASSWORD: ${{ secrets.TESTRAIL_PASSWORD }}

  install_tests:
    name: Installation | Shopware ${{ matrix.shopware }}
    needs: [ build ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shopware: [ '6.3.5.1', '6.3.5.0' ]
    steps:

      - name: Clone Code
        uses: actions/checkout@v3

      - name: Mount Build Cache
        uses: actions/cache@v3
        with:
          key: cache-plugin-${{ github.run_id }}
          path: ~/.build

      - name: Installation Tests, Shopware ${{ matrix.shopware }}
        uses: ./.github/actions/run-e2e
        with:
          # -------------------------------------------
          SHOPWARE: ${{ matrix.shopware }}
          PHP: 7.4
          # -------------------------------------------
          MOLLIE_APIKEY_TEST: ${{ secrets.MOLLIE_APIKEY_TEST }}
          # -------------------------------------------
          # only do installation tests without Cypress here
          # this is just for old Shopware versions that do not
          # support the API that we need for Cypress
          RUN_CYPRESS: false
