name: CI Pipeline


on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/**'
      - '**.md'
      - 'makefile'



concurrency:
  group: pr-${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true


jobs:

  review:
    name: Review Pipeline
    uses: ./.github/workflows/step_review.yml
    with:
      PHP_VERSION: 8.0

  # ------------------------------------------------------------------------------------------------------------------------

  build:
    name: Build Plugin
    runs-on: ubuntu-latest
    steps:

      - name: Clone Code
        uses: actions/checkout@v3

      - name: Create Cache Directories
        run: |
          mkdir -p ~/.build

      - name: Mount Build Cache
        uses: actions/cache@v3
        with:
          key: cache-plugin-${{ github.run_id }}
          path: ~/.build

      - name: Build Plugin
        uses: ./.github/actions/build-plugin

  e2e:
    name: E2E | Shopware ${{ matrix.shopware }}, PHP ${{ matrix.php }}
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - shopware: '6.7.1.2'
            php: '8.3'
          - shopware: '6.6.10.5'
            php: '8.3'
          - shopware: '6.6.9.0'
            php: '8.2'
          - shopware: '6.5.8.12'
            php: '8.2'
          - shopware: '6.5.6.1'
            php: '8.2'
          - shopware: '6.5.5.2'
            php: '8.2'
          - shopware: '6.4.20.2'
            php: '8.2'
          - shopware: '6.4.5.0'
            php: '8.0'
    steps:

      - name: Clone Code
        uses: actions/checkout@v3

      - name: Mount Build Cache
        uses: actions/cache@v3
        with:
          key: cache-plugin-${{ github.run_id }}
          path: ~/.build

      - name: E2E Tests, Shopware ${{ matrix.shopware }}
        uses: ./.github/actions/run-e2e
        with:
          # -------------------------------------------
          SHOPWARE: ${{ matrix.shopware }}
          PHP: ${{ matrix.php }}
          # -------------------------------------------
          MOLLIE_APIKEY_TEST: ${{ secrets.MOLLIE_APIKEY_TEST }}
          # -------------------------------------------
          RUN_CYPRESS: true
          TESTRAIL: false
          TESTRAIL_DOMAIN: ${{ secrets.TESTRAIL_DOMAIN }}
          TESTRAIL_USERNAME: ${{ secrets.TESTRAIL_USERNAME }}
          TESTRAIL_PASSWORD: ${{ secrets.TESTRAIL_PASSWORD }}
