name: Compatibility Pipeline
run-name: Shopware ${{ github.event.inputs.swVersion }}, PHP ${{ github.event.inputs.phpVersion }}

on:
  workflow_dispatch:
    inputs:
      swVersion:
        description: 'Shopware Version'
        required: true
      phpVersion:
        description: 'PHP Version'
        required: true

jobs:

  e2e:
    name: Plugin v${{ matrix.plugin }} | Shopware ${{ github.event.inputs.swVersion }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - plugin: '3.2.0'
            url: 'https://github.com/mollie/Shopware6/releases/download/v3.2.0/MolliePayments-v3.2.0.zip'
          - plugin: '3.1.0'
            url: 'https://github.com/mollie/Shopware6/releases/download/v3.1.0/MolliePayments-v3.1.0.zip'
          - plugin: '3.0.0'
            url: 'https://github.com/mollie/Shopware6/releases/download/v3.0.0/MolliePayments-v3.0.0.zip'
          - plugin: '2.5.0'
            url: 'https://github.com/mollie/Shopware6/releases/download/v2.5.0/MolliePayments-v2.5.0.zip'
    steps:

      - name: Clone Latest Code for Workflows
        uses: actions/checkout@v3

      - name: Clone specific plugin version for (old) Cypress tests
        uses: actions/checkout@v3
        with:
          ref: refs/tags/v${{ matrix.plugin }}
          path: repo-old-version

      - name: Replace latest Cypress folder with old one
        run: |
          # we want to run the latest workflow setups, but with the old Cypress tests
          rm -rf ./tests/Cypress
          mkdir ./tests/Cypress
          cp -r ./repo-old-version/tests/Cypress/. ./tests/Cypress
          rm -rf repo-old-version

      - name: Create Build Directory
        run: |
          mkdir -p ~/.build

      - name: Download MolliePayments-${{ matrix.plugin }}.zip
        run: |
          curl ${{ matrix.url }} --output ~/.build/MolliePayments.zip

      - name: Run Cypress for Plugin ${{ matrix.plugin }}
        uses: ./.github/actions/run-e2e
        with:
          # -------------------------------------------
          SHOPWARE: ${{ github.event.inputs.swVersion }}
          PHP: ${{ github.event.inputs.phpVersion }}
          # -------------------------------------------
          MOLLIE_APIKEY_TEST: ${{ secrets.MOLLIE_APIKEY_TEST }}
          # -------------------------------------------
          TESTRAIL: false
          # we have to remove old tests from the history, because e.g.
          # SEPA Direct Debit is not working anymore when being executed now...
          REMOVE_DEPRECATED_TESTS: true
