name: Nightly Pipeline

on:
  workflow_dispatch:
  schedule:
    # 00:15 am
    - cron: '15 0 * * *'

jobs:

  review:
    name: Review Pipeline
    uses: ./.github/workflows/step_review.yml
    with:
      PHP_VERSION: 8.0

  # ------------------------------------------------------------------------------------------------------------------------

  build:
    name: Build Plugin
    runs-on: ubuntu-latest
    steps:

      - name: Clone Code
        uses: actions/checkout@v3

      - name: Create Cache Directories
        run: |
          mkdir -p ~/.build

      - name: Mount Build Cache
        uses: actions/cache@v3
        with:
          key: cache-plugin-${{ github.run_id }}
          path: ~/.build

      - name: Build Plugin
        uses: ./.github/actions/build-plugin

  e2e:
    name: E2E | Shopware ${{ matrix.shopware }}, PHP ${{ matrix.php }}
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - shopware: '6.7.5.0'
            php: '8.3'
            image: 'dockware/shopware'
          - shopware: '6.7.3.1'
            php: '8.2'
            image: 'dockware/shopware'
          - shopware: '6.7.2.2'
            php: '8.2'
            image: 'dockware/shopware'
          - shopware: '6.7.1.2'
            php: '8.2'
            image: 'dockware/shopware'
          - shopware: '6.7.0.1'
            php: '8.2'
            image: 'dockware/shopware'
          - shopware: '6.6.10.0'
            php: '8.2'
            image: 'dockware/play'
    steps:

      - name: Clone Code
        uses: actions/checkout@v3

      - name: Mount Build Cache
        uses: actions/cache@v3
        with:
          key: cache-plugin-${{ github.run_id }}
          path: ~/.build

      - name: E2E Tests, Shopware ${{ matrix.shopware }}
        uses: ./.github/actions/run-e2e
        with:
          # -------------------------------------------
          SHOPWARE: ${{ matrix.shopware }}
          PHP: ${{ matrix.php }}
          IMAGE: ${{matrix.image}}
          # -------------------------------------------
          MOLLIE_APIKEY_TEST: ${{ secrets.MOLLIE_APIKEY_TEST }}
          # -------------------------------------------
          RUN_CYPRESS: true
          TESTRAIL: false
          TESTRAIL_DOMAIN: ${{ secrets.TESTRAIL_DOMAIN }}
          TESTRAIL_USERNAME: ${{ secrets.TESTRAIL_USERNAME }}
          TESTRAIL_PASSWORD: ${{ secrets.TESTRAIL_PASSWORD }}
