name: PR Pipeline

on: [ pull_request, workflow_dispatch ]


concurrency:
  group: pr-${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true


jobs:

  review:
    name: Review Pipeline
    uses: ./.github/workflows/step_review.yml
    with:
      PHP_VERSION: 8.2

  # ------------------------------------------------------------------------------------------------------------------------

  build:
    name: Build Plugin
    runs-on: ubuntu-latest
    steps:

      - name: Clone Code
        uses: actions/checkout@v3

      - name: Create Cache Directories
        run: |
          mkdir -p ~/.build

      - name: Mount Build Cache
        uses: actions/cache@v3
        with:
          key: cache-build-${{ github.run_id }}
          path: ~/.build

      - name: Build Plugin
        uses: ./.github/actions/build-plugin

  e2e:
    name: E2E Core | Shopware ${{ matrix.shopware }}
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - shopware: '6.7.4.2'
            php: '8.3'
            image: 'dockware/shopware'
          - shopware: '6.6.10.9'
            php: '8.2'
            image: 'dockware/shopware'
    steps:

      - name: Clone Code
        uses: actions/checkout@v3

      - name: Mount Build Cache
        uses: actions/cache@v3
        with:
          key: cache-build-${{ github.run_id }}
          path: ~/.build

      - name: E2E Core Tests, Shopware ${{ matrix.shopware }}
        uses: ./.github/actions/run-e2e
        with:
            # -------------------------------------------
            SHOPWARE: ${{ matrix.shopware }}
            PHP: ${{ matrix.php }}
            IMAGE: ${{ matrix.image }}
            # -------------------------------------------
            MOLLIE_APIKEY_TEST: ${{ secrets.MOLLIE_APIKEY_TEST }}
            # -------------------------------------------
            RUN_CYPRESS: true
            TESTRAIL: false
            # only run @core tests, because we have no API key here
            FILTERS: "@core"
