name: Release Pipeline


on: [ workflow_call, workflow_dispatch ]


jobs:

  release:
    name: Build Release File
    runs-on: ubuntu-latest
    steps:

      - name: Clone Code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4

      - name: Start Docker
        run: |
          docker run --rm --name shop -d dockware/dev:6.4.15.0
          sleep 30
          docker logs shop

      - name: Upload into Docker
        run: |
          docker cp $(pwd)/. shop:/var/www/html/custom/plugins/MolliePayments
          docker exec shop bash -c 'sudo chown www-data:www-data /var/www/html/custom/plugins -R'

      - name: Build, create ZIP file and download it
        run: |
          docker exec shop bash -c 'cd /var/www/html/custom/plugins/MolliePayments && make release'
          mkdir -p $(pwd)/build/release
          docker cp shop:/var/www/html/custom/plugins/.build/. $(pwd)/build/release

      - name: Store ZIP file in Github
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: MolliePaymentsRelease
          retention-days: 3
          path: |
            build
