<?xml version="1.0" encoding="UTF-8" ?>

<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="api.action.mollie.config.test-api-keys"
           path="/api/v{version}/_action/mollie/config/test-api-keys"
           methods="POST">
        <default key="_controller">Kiener\MolliePayments\Controller\Api\PluginConfig\ConfigControllerBase::testApiKeys</default>
        <default key="_routeScope"><list><string>api</string></list></default>
        <default key="_auth_required">true</default>
        <default key="_auth_enabled">true</default>
    </route>

    <route id="api.action.mollie.config.test-api-keys-64"
           path="/api/_action/mollie/config/test-api-keys"
           methods="POST">
        <default key="_controller">Kiener\MolliePayments\Controller\Api\PluginConfig\ConfigControllerBase::testApiKeys64</default>
        <default key="_routeScope"><list><string>api</string></list></default>
        <default key="_auth_required">true</default>
        <default key="_auth_enabled">true</default>
    </route>

    <route id="api.action.mollie.config.validate.flowbuilder"
           path="/api/_action/mollie/config/validate/flowbuilder"
           methods="POST">
        <default key="_controller">Kiener\MolliePayments\Controller\Api\PluginConfig\ConfigControllerBase::validateFlowBuilder</default>
        <default key="_routeScope"><list><string>api</string></list></default>
        <default key="_auth_required">true</default>
        <default key="_auth_enabled">true</default>
    </route>

    <route id="api.action.mollie.config.refund-manager"
           path="/api/_action/mollie/config/refund-manager"
           methods="POST">
        <default key="_controller">Kiener\MolliePayments\Controller\Api\PluginConfig\ConfigControllerBase::getRefundManagerConfig</default>
        <default key="_routeScope"><list><string>api</string></list></default>
        <default key="_auth_required">true</default>
        <default key="_auth_enabled">true</default>
    </route>

    <route id="api.action.mollie.config.refund-manager.legacy"
           path="/api/v{version}/_action/mollie/config/refund-manager"
           methods="POST">
        <default key="_controller">Kiener\MolliePayments\Controller\Api\PluginConfig\ConfigControllerBase::getRefundManagerConfigLegacy</default>
        <default key="_routeScope"><list><string>api</string></list></default>
        <default key="_auth_required">true</default>
        <default key="_auth_enabled">true</default>
    </route>

    <route id="api.action.mollie.config.subscription"
           path="/api/_action/mollie/config/subscription"
           methods="POST">
        <default key="_controller">Kiener\MolliePayments\Controller\Api\PluginConfig\ConfigControllerBase::getSubscriptionConfig</default>
        <default key="_routeScope"><list><string>api</string></list></default>
        <default key="_auth_required">true</default>
        <default key="_auth_enabled">true</default>
    </route>

</routes>